#coreGPA {
    width: 500px;
    text-align: center;
}

select {
    width: 125px;
}

label {
    width: 200px;
}

.button {
    width: 125px;
    margin: auto;
}

input {
    width: 125px;
}

form {
    width: fit-content;
    margin: auto;
}

.navStyle {
    padding-top: 0%;
}

.pic {
    width: 55vw;
    margin:auto;
}
img {
    width: 55vw;
}


@media (max-width: 800px) {
    .pic {
        width: 100vw;
        margin:auto;
    }
    img {
        width: 100vw;
    }
}

.instructions {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
}

#coreGPA {
    font-weight: bold;
}







