#coreGPA {
    width: 800px;
    text-align: center;
}

select {
    width: 125px;
}

label {
    width: 200px;
}

.button {
    width: 125px;
    margin: auto;
}

input {
    width: 125px;
}

form {
    width: fit-content;
    margin: auto;
}

.navStyle {
    padding-top: 0%;
}










